
@{
    ViewData["Title"] = "Exception Error";
}

<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <div class="mb-4 lead">Oopsie! @ViewBag.ExceptionName has been occured! Message: @ViewBag.ExceptionMessage</div>
                <a asp-controller="Home" asp-action="Index">Back to Home</a>
            </div>
        </div>
    </div>
</div>

