
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<Microsoft.AspNetCore.Identity.IdentityUser> 
<h2>Users list</h2>
<table class="table">
    <thead>
    <tr>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model)
    {
        <tr>
            <td>
                @user.Email
            </td>
        </tr>
    }
    </tbody>
</table>
