@model List<Northwind.Core.Models.Category>
@{
    ViewData["Title"] = "Index";
}

<h2>List of categories</h2>
<table class="table">
    <thead>
        <tr>
            <th>Category Name</th>
            <th>Description</th>
            <th>Picture</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>
                    @category.CategoryName
                </td>
                <td>
                    @category.Description
                </td>
                <td>
                    <a class="btn-primary" asp-action="Edit" asp-route-id="@category.CategoryID">Edit</a>
                </td>
                @if (category.Picture != null)
                {
                    <td>
                        <img src="@Url.Action("Image", new { id = category.CategoryID })" />
                    </td>
                }
                else
                {
                    <td>
                        <span>Picture not found</span>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
<a class="btn-primary" asp-action="Create">Create</a>
